<!DOCTYPE html>
<html>
<head>

  <title>Feedback</title>

<link rel="stylesheet" href="/static/stylesheet/base.css">
</head>
<body>

  <ul id="talks"></ul>
  <div class="summary-wrapper">
    <div id="summary" class="summary"></div>
  </div>

  <div id="feedback-form">
    <div id="feedback-text-wrapper">
      <input type="text" id="feedback-text"></input>
    </div>
    <button id="feedbackSubmit">Enter</button>
  </div>

</body>

<script type="text/javascript" src="/static/scripts/3rdparty/socket.io.js"></script>
<script type="text/javascript" src="/static/scripts/3rdparty/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/scripts/3rdparty/json2.js"></script>
<script type="text/javascript" src="/static/scripts/feedback.js"></script>
<script type="text/javascript" src="/static/scripts/talks.js"></script>
<script type="text/javascript" src="/static/scripts/server.js"></script>
<script type="text/javascript" src="/static/scripts/homepage.js"></script>
</html>
