<!DOCTYPE html>
<html>
<head>

  <title>Feedback</title>

</head>
<body>

  <ul id="talks"></ul>
  <textarea id="summary" readonly="readonly" style="width:600px ; height:300px ; display:block"></textarea>
  <input type="text" id="feedback"></input>
  <input type="button" value="Enter" id="feedbackSubmit"></input>

</body>

<script type="text/javascript" src="/static/scripts/3rdparty/socket.io.js"></script>
<script type="text/javascript" src="/static/scripts/3rdparty/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/scripts/3rdparty/json2.js"></script>
<script type="text/javascript" src="/static/scripts/feedback.js"></script>
<script type="text/javascript" src="/static/scripts/talks.js"></script>
<script type="text/javascript" src="/static/scripts/server.js"></script>
<script type="text/javascript" src="/static/scripts/homepage.js"></script>
</html>
